<div class="card card-coin card-plain">
  <div class="card-header">
    <img class="img-center img-fluid" src="assets/img/bitcoin.png" />
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="text-uppercase">Light Coin</h4>
        <span> Plan </span>
        <hr class="line-primary" />
      </div>
    </div>
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item">50 messages</li>
        <li class="list-group-item">100 emails</li>
        <li class="list-group-item">24/7 Support</li>
      </ul>
    </div>
  </div>
  <div class="card-footer text-center">
    <button class="btn btn-primary btn-simple">Get plan</button>
  </div>
</div>
