<app-header></app-header>
<div class="wrapper">
  <section class="section section-lg section-coins">
    <img class="path" src="assets/img/path3.png"/>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <hr class="line-info"/>

          <h1>
            Choose the box
            <span class="text-info"> that you like the most </span>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <app-card></app-card>
        </div>
        <div class="col-md-4">
          <app-card></app-card>
        </div>
        <div class="col-md-4">
          <app-card></app-card>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>

